@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(238, 234, 234, 1);
  --foreground: rgba(58, 57, 62, 1);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(32, 31, 34, 1);
    --foreground: #ededed;
  }

  header {
    background: rgba(32, 31, 34, 1) !important;
    color: rgba(193, 253, 53, 1) !important;
  }

  header button {
    background: rgba(58, 57, 62, 1) !important;
    color: rgba(238, 234, 234, 1) !important;
  }

  header button.ingresarButton {
    background: #c1fd35 !important;
    border: solid 1px rgba(58, 57, 62, 1);
    color: rgba(58, 57, 62, 1) !important;
  }

}
  */

header.usuarioIniciado {
    background: rgba(32, 31, 34, 1) !important;
    color: rgba(193, 253, 53, 1) !important;
  }

.boxLogin {
  width: 100%;
  height: 100%;
  background: rgba(32, 31, 34, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(238, 234, 234, 1);
}

header button.ingresarButton {
  background: #c1fd35 !important;
  border: solid 1px rgba(58, 57, 62, 1);
  color: rgba(58, 57, 62, 1) !important;
}


header button {
  background: rgba(58, 57, 62, 1) !important;
  color: rgba(238, 234, 234, 1) !important;
}

header {
  color: rgba(32, 31, 34, 1);
  background: rgba(193, 253, 53, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


body, html, body > div {
  min-height: 94.3vh;
  }

.boxLogin form {
  padding: 10px;
  display: flex;
  margin-top: -20px;
  flex-direction: column;
  width: 400px;

}

.sombraMDConInterna{
  box-shadow: -1px -2px 33px 1px rgba(111, 107, 113, 0.65) inset, var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.imgFlechaVerde {
  mask-image: url('/flecha.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #c1fd35;
}

.imgCheckNegro {
  mask-image: url('/check.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: url('/check.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

label {
  margin: 34px 30px !important;
  text-align: center;
  font-weight: bold;
}

.loginContinuarGoogleButton {
  padding: 15px 10px;
  color: rgba(193, 253, 53, 1);
  border-radius: 12px;
  font-weight: bold;
  margin: 12px 0px;
  background: rgba(58, 57, 62, 1);
  border: solid 1px rgba(193, 253, 53, 1);

}

.loginEmailContinueButton, .registerButton {
  padding: 15px 10px;
  background: rgba(193, 253, 53, 1);
  border-radius: 12px;
  font-weight: bold;
  margin: 12px 0px;
  color: rgba(32, 31, 34, 1);
}

.loginEmailRegisterButton {
  padding: 14px 10px;
  background: rgba(196, 196, 196, 1);
  border-radius: 12px;
  font-weight: bold;
  color: #000;
  margin: 1px 0px;

}

.boxLogin input {
  padding: 15px 20px;
  border-radius: 10px;
  color: #000;
  margin: 22px 0px;
  }